<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Spring Security Example</title>
</head>
<body>
<h1 style="text-align:center">Welcome to Index PAGE!</h1>

<form th:method="GET" th:action="@{/login}" style="text-align:center">
    <input type="submit" value="LOGIN"/>
</form>
<!--таблица юзеров-->
<div class="container-fluid">

    <div class="d-flex justify-content-center">
        <div>
            <table class="table table-striped" id="mainTableWithUsers">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--форма заполнения нового юзера и две кнопки-->
<div class="container-fluid">
    <div class="d-flex justify-content-center">

        <div class="form-group align-items-center">
            <form id="defaultSomeForm" data-hidden=true style="display: none">
                <input class="form-control" id="AddNewUserLogin" type="text" placeholder="login"><br>
                <input class="form-control" id="AddNewUserPassword" type="password" placeholder="password"><br>
                <input class="form-control" id="AddNewUserAge" type="number" placeholder="age"><br>
                <button class="btn btn-primary mb-2" type="button" id="addNewUserButton">Add new user</button>
            </form>
            <div class="p-2">
                <button class="btn btn-outline-success" id="SliderNewUserForm">Show panel</button>
            </div>
        </div>

    </div>
</div>

<!--скрытое дефолтное модальное окно -->
<div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
            </div>

            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>

<!--<div class = "container">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>FirstName</th>-->
<!--        <th>LastName</th>-->
<!--        <th>Role</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <table class="table table-stripped">-->
<!--        <tbody id="data">-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="app1.js"></script>
</body>
</html>