<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>

<body>
<h1>Update user page</h1>

<form th:method="PATCH" th:action="@{'/admin/' + ${user.id}}" th:object="${user}">

    <input type="hidden" name="id" th:value="${user.getId()}">
    <br/>
    <label for="username">Username</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <br/>
    <label for="firstname">First name</label>
    <input type="text" th:field="*{firstname}" id="firstname" placeholder="First Name">
    <br/>
    <label for="lastname">Last name</label>
    <input type="text" th:field="*{lastname}" id="lastname" placeholder="Last Name">
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <br/>

    <br/>
    <label>
        <select size="3" name="role" id="roles" multiple="multiple">
            <option disabled>Roles:</option>
            <option value="ROLE_ADMIN">ADMIN</option>
            <option selected value="ROLE_USER">USER</option>
        </select>
    </label>
    <br/>
    <input type="submit" value="Update User">

</form>
<br/>
<form th:action="@{/logout}">
    <input type="submit" value="LOGOUT"/>
</form>

</body>
</html>