<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/html">
<head>
    <title>Table of users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <style>
        table th, table td {
            padding: 10px;
            font-size: 16px;
            border-style: solid;
            border-collapse: collapse;
            border-width: 1px;
        }
    </style>
</head>
<body>
<h1>Admin page</h1>
<br/><br/>
<div>
    <!--suppress HtmlDeprecatedAttribute -->
    <table border="1">
        <tr>
            <th th:width="50">UserId</th>
            <th th:width="100">Login</th>
            <th th:width="100">Password</th>
            <th th:width="100">Firstname</th>
            <th th:width="100">Lastname</th>
            <th th:width="100">Email</th>
            <th th:width="100">Role</th>
            <th th:width="150">Action</th>
        </tr>

        <tr th:each="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.username}">...</td>
            <td th:utext="${user.password}">...</td>
            <td th:utext="${user.firstname}">...</td>
            <td th:utext="${user.lastname}">...</td>
            <td th:utext="${user.email}">...</td>
            <td th:text="${#strings.setJoin(user.getAuthorities, ',')}">...</td>

            <td>
                <div style="float:left; width:50px;">
                    <form th:method="GET" th:action="@{/admin/user-update/{id}(id=${user.id})}">
                        <input type="submit" value="EDIT"/>
                    </form>
                </div>
                <div style="float:right; width:60px;">
                    <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}">
                        <input type="submit" value="DELETE"/>
                    </form>
                </div>
            </td>
        </tr>
    </table>

    <br/><br/>

    <form th:action="@{admin/users-add}">
        <input type="submit" value="CREATE USER">
    </form>

    <br/>

    <form th:action="@{/logout}">
        <input type="submit" value="LOGOUT"/>
    </form>

</div>
</body>
</html>